@import "../global/variables";
@import "../global/mixin";

.circle {
    &__title {
        display: inline-block;
        padding-bottom: 8px;
        border-bottom: 3px solid $main-color;
    }

    &__items {
        padding: 20px 0;
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        margin-top: 10px;
        max-width: 380px;
        border-radius: 8px;
        box-shadow: $shadow;
        transition: all 0.5s;

        &:hover {
            background-color: rgba($main-color, 0.1);
            box-shadow: $hover-shadow;
        }

        & img {
            width: 100%;
            border-radius: 8px;
        }

        &__texts {
            padding: 10px 10px;

            & h3 {
                display: inline-block;
                position: relative;
                padding-bottom: 8px;
                font-size: 1.2rem;

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: $main-color;
                }
            }

            & p {
                padding-bottom: 16px;
                height: 40px;
                font-weight: bold;
            }
        }
    }
}

// 新着
.new-arrival {
    padding-top: 80px;
}

// ピックアップ
.pickup {
    padding-top: 80px;
}
