@import "../global/variables";
@import "../global/mixin";

.dropdown {
    padding: 10px;

    &__container {
        display: flex;
        border-bottom: 1px solid $gray;
        background-color: $white;
    }

    &__headline {
        display: flex;
        width: calc(100% - 40px);
        height: 40px;
        border-radius: 4px;

        & h3 {
            margin: 0 auto;
            font-size: 16px;
            line-height: 38px;
            transform: translateX(20px);
        }
    }

    &__icon {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: $main-color;
        justify-content: center;
        align-items: center;

        & i {
            font-size: 20px;
            color: $white;
        }
    }

    &__menu {
        padding: 10px;
        background-color: $white;
    }

    &__items {
        display: flex;
        gap: 8px;
    }

    &__item {
        padding: 1px;
        border: 1px solid $gray;
        border-radius: 16px;

        &__container {
            padding: 4px;
            color: $white;
            background-color: $darkgray;
            border-radius: 16px;
        }
    }
}
