@import "../global/variables";
@import "../global/mixin";

.search {
    &__input {
        display: block;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        font-size: 1.2rem;
        border-radius: 4px;
        border-color: $lightgray;
    }

    &__button {
        margin: 20px 0 0;
        padding: 10px 20px;
        width: 100%;
        color: white;
        font-size: 1.2rem;
        background-color: $main-color;
        border: none;
        border-radius: 8px;
    }
}
