/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav,
ul li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  font-size: 14px;
  line-height: 1.5rem;
}

.header {
  display: flex;
  margin: 0 auto;
  padding: 24px 0;
  width: 100%;
  justify-content: space-between;
}
.header h1 {
  font-size: 2rem;
  color: #04baf3;
}
.header__nav {
  display: flex;
  gap: 20px;
}

.hero {
  display: flex;
  width: 100%;
  align-items: center;
}
.hero__image {
  margin: 0 0 0 auto;
  width: 70%;
}
.hero__image img {
  width: 100%;
  border-radius: 16px;
}

.search {
  position: absolute;
  padding: 40px;
  width: 400px;
  background-color: white;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
}
.search h2 {
  font-size: 1.8rem;
}
.search__input {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  font-size: 1.2rem;
}
.search__button {
  margin: 20px 0 0;
  padding: 10px 20px;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  background-color: #04baf3;
  border: none;
  border-radius: 8px;
}

.circle {
  padding: 20px 0;
}
.circle__items {
  padding: 20px 0;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.circle__item {
  position: relative;
  padding: 10px;
  max-width: 440px;
  border: 2px solid #f1f1f1;
  border-top: none;
  border-radius: 8px;
  color: #333;
  transition: all 0.5s;
}
.circle__item:hover {
  background-color: rgba(3, 220, 3, 0.1);
  border-color: #03dc03;
}
.circle__item img {
  width: 100%;
  border-radius: 8px;
}
.circle__name {
  font-size: 1.1rem;
  text-decoration: none;
}
.circle__btn {
  padding: 10px 120px;
  font-size: 1.2rem;
  color: #03dc03;
  background-color: #fff;
  border: 2px solid #03dc03;
  border-radius: 8px;
}
.circle__btn__container {
  padding-top: 10px;
  width: 100%;
  text-align: center;
}/*# sourceMappingURL= style.css.map */