/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav,
ul li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #333;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  font-size: 14px;
  line-height: 1.5rem;
  color: #333;
}

.section__title__container {
  text-align: center;
}
.section__title__container h2 {
  display: inline-block;
  padding-bottom: 4px;
  font-size: 1.6rem;
  border-bottom: 2px solid #04baf3;
}
.section__title__container p {
  color: #787878;
  font-weight: bold;
}

.categories {
  display: flex;
  gap: 4px;
  justify-content: right;
}
.categories a {
  display: block;
  padding: 2px 4px;
  background-color: #d9d9d9;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 4px;
}

.header {
  display: flex;
  margin: 0 auto;
  padding: 24px 0;
  width: 100%;
  justify-content: space-between;
}
.header h1 {
  font-size: 2rem;
  color: #04baf3;
}
.header__nav {
  display: flex;
  gap: 20px;
  font-weight: bold;
}

.hero {
  display: flex;
  width: 100%;
  align-items: center;
}
.hero__box {
  position: absolute;
  padding: 40px;
  width: 400px;
  background-color: white;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
}
.hero__box h2 {
  display: inline-block;
  font-size: 1.8rem;
}
.hero__box p {
  padding: 40px 0;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5;
}
.hero__image {
  margin: 0 0 0 auto;
  width: 70%;
}
.hero__image img {
  width: 100%;
  border-radius: 16px;
}

.search__input {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  font-size: 1.2rem;
}
.search__button {
  margin: 20px 0 0;
  padding: 10px 20px;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  background-color: #04baf3;
  border: none;
  border-radius: 8px;
}

.circle__title {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 3px solid #04baf3;
}
.circle__items {
  padding: 20px 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.circle__item {
  position: relative;
  max-width: 380px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  transition: all 0.5s;
}
.circle__item:hover {
  background-color: rgba(4, 186, 243, 0.1);
  box-shadow: 0px 5px 15px 0px rgba(4, 186, 243, 0.35);
}
.circle__item img {
  width: 100%;
  border-radius: 8px;
}
.circle__item__texts {
  padding: 10px 10px 20px;
}
.circle__item__texts h3 {
  padding-bottom: 10px;
  font-size: 1.2rem;
}
.circle__item__texts p {
  font-weight: bold;
}

.new-arrival {
  padding-top: 80px;
}

.pickup {
  padding-top: 80px;
}

.detail-section {
  padding-top: 120px;
  margin: 0 auto;
  max-width: 960px;
}

.summary__text {
  margin: 20px auto 0;
  padding: 10px;
  text-align: left;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
}

.information table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.information th {
  padding-top: 10px;
  width: 200px;
}
.information td {
  padding: 10px 0;
}
.information tr:nth-child(odd) {
  background-color: #efefef;
}

.atmospheres__item {
  position: relative;
  padding: 20px 0;
  text-align: center;
}
.atmospheres__item h4 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 50px;
  padding: 4px 10px;
  transform: translateY(-50%);
  border-radius: 8px;
  background-color: #d9d9d9;
}
.atmospheres__item p {
  display: inline-block;
  width: 80px;
  font-weight: bold;
}
.atmospheres__item span {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.atmospheres__parameter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.how-to-join__form {
  display: flex;
  gap: 20px;
  padding-top: 40px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.how-to-join__item {
  width: calc(50% - 10px);
}
.how-to-join__item p {
  font-weight: bold;
}
.how-to-join__item input {
  width: 100%;
  border-radius: 4px;
  border-color: #d9d9d9;
  font-size: 20px;
}
.how-to-join__radio {
  display: flex;
}
.how-to-join__radio input {
  margin: 0 20px 0 4px;
  width: 12px;
}
.how-to-join__textarea {
  width: 100%;
}
.how-to-join__textarea input {
  height: 160px;
}
.how-to-join button {
  justify-self: start;
  margin-top: 20px;
  padding: 10px 32px;
  color: white;
  font-size: 1.2rem;
  background-color: #04baf3;
  border: none;
  border-radius: 8px;
}
.how-to-join small {
  display: block;
  padding-top: 8px;
  font-size: 0.8rem;
  color: #787878;
}

.detail__search {
  padding-top: 80px;
}
.detail__search .search {
  padding: 40px;
  width: calc(100% - 80px);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
}/*# sourceMappingURL= style.css.map */