@import "../global/variables";
@import "../global/mixin";

body {
    margin: 0 auto;
    max-width: 1200px;
    font-size: 14px;
    line-height: 1.5rem;
    color: $font-color;
}

.section__title__container {
    text-align: center;

    & h2 {
        display: inline-block;
        padding-bottom: 4px;
        font-size: 1.6rem;
        border-bottom: 2px solid $main-color;
    }

    & p {
        color: $sub-font-color;
        font-weight: bold;
    }
}

.attributes {
    display: flex;
    gap: 4px;
    justify-content: right;

    &__item {
        display: block;
        padding: 2px 4px;
        background-color: $lightgray;
        font-size: 0.8rem;
        font-weight: bold;
        border-radius: 4px;
        transition: background-color 0.5s;

        &:hover {
            background-color: $main-color;
        }
    }

    &__category_color {
        background-color: $category_color;
    }

    &__campus {
        background-color: $campus_color;
    }
}
