$white: #fff;
$black: #333;
$lightgray: #f1f1f1;
$gray: #cbcbcb;
$darkgray: #a3a3a3;
$lightblue: #97b9d1;
$blue: #0f71bc;
$yellow: #f4bd67;
$main-color: #bde360;
$main-color: #03dc03;

$btn-color: linear-gradient(to left, #3ccfff, $blue);
$box-shadow: 0px 3px 3px 3px rgba(173, 216, 230, 0.3);
$checkbox-bg: #cccccc;
