@import "../global/variables";
@import "../global/mixin";

.hero {
  display: flex;
  width: 100%;
  align-items: center;

  &__box {
    position: absolute;
    padding: 40px;
    width: 400px;
    background-color: white;
    box-shadow: $shadow;
    border-radius: 16px;

    & h2 {
      display: inline-block;
      font-size: 1.8rem;
    }

    & p {
      padding: 40px 0;
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.5;
    }
  }

  &__image {
    margin: 0 0 0 auto;
    width: 70%;

    & img {
      width: 100%;
      border-radius: 16px;
    }
  }
}
